body { background: #9ca2e3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-helper-0 { color: #e43187; font-size: 12px; margin-bottom: 5px; }
.block-cart-1 { color: #55f6e0; font-size: 21px; margin-bottom: 5px; }
.block-shipping-2 { color: #a19b12; font-size: 13px; margin-bottom: 5px; }
.block-auth-3 { color: #52b4ee; font-size: 12px; margin-bottom: 5px; }
.block-shipping-4 { color: #c21d49; font-size: 13px; margin-bottom: 5px; }
.block-logger-5 { color: #27aa7c; font-size: 21px; margin-bottom: 5px; }